* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f3efe2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#create-show {
  display: none;
}

#show-button {
  display: none;
}

.blog-card-big {
  padding: 1rem;
  margin: 2rem;
  line-height: 2rem;
}


.post-image-big {
  width: 100%;
}

#edit-show {
  display: none;
}

#edit-show {
  display: none;
}

/*--------------------------------------*/

/* Ensure images are displayed at their intrinsic dimensions */
.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.post {
  width: 700px;
  transition: transform 0.5s ease;
}

.blog-container {
  display: flex;
  height: 400px;
}

.carousel-wrapper {
  max-width: 700px;
  height: 400px;
  overflow: hidden;
  display: flex; /* Ensure items remain in a row */
  justify-self: center;
}

.blog-container {
  flex-shrink: 0; /* Prevent items from shrinking */
}

.carousel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  padding: 0 2rem;
  justify-content: space-evenly;
}

/*new code stying old behind*/

.text-container {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
}

.newest-text {
  font-style: italic;
  font-weight: lighter;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  grid-column: 1;
}

.all-post-text {
  font-style: italic;
  font-weight: lighter;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.line-header {
  margin: 1rem;
  color: #c6bdb6;
}

.line {
  margin: 3rem 1rem;
  color: #c6bdb6;
}

.text-box {
  position: absolute;
  bottom: 20px; /* Adjust this value as needed */
  left: 20px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: start;
  background: transparent;
}

.read-more {
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  font-family: sans-serif;
  padding: 10px 20px; /* Adjust padding as needed */
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more:hover,
.login-button:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

.blog-card {
  position: relative;
  overflow: hidden;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none; /* Ensures the overlay doesn't block interactions with underlying content */
}

.title-text {
  position: absolute;
  bottom: 80px; /* Adjust this value as needed */
  left: 20px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: start;
  background: transparent;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.tags-box {
  position: absolute;
  bottom: 20px; /* Adjust this value as needed */
  right: 25px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: start;
  background: transparent;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  min-width: 60px;
  border: 2px solid white;
  border-radius: 1rem;
}

.tags {
  background: transparent;
  font-size: 1.4rem;
  font-weight: lighter;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
}

.logo-text {
  padding: 1rem;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bolder;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.menu {
  display: flex; /* Display menu items horizontally */
  list-style-type: none; /* Remove bullet points */
  margin-right: 1rem; /* Remove default padding */
  justify-content: space-between; /* Align menu items to the end of the header */
}

.menu li {
  margin-left: 20px; /* Add spacing between menu items */
}

.menu li:first-child {
  margin-left: 0; /* Remove margin from the first menu item */
}

.menu li a {
  color: #333; /* Set text color */
  display: flex; /* Use flexbox to center text content */
  align-items: center; /* Center text content vertically */
  justify-content: center; /* Center text content horizontally */
  padding: 10px 15px; /* Add padding to each menu item */
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
}

.menu li a:hover,
.read-more-main:hover,
.footer-menu li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.box {
  justify-self: center;
  margin: 0 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #4b3737;
  max-width: 550px;
  max-height: 400px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.circle {
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  align-self: center;
  justify-self: start;
}

.img-box {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.author-text {
  display: flex;
  margin-left: 0.5rem;
  justify-self: start;
  font-size: 1.5rem;
  align-self: center;
  color: white;
  font-style: italic;
}

.info-text {
  grid-column: 1/3;
  line-height: 2rem;
  color: white;
  font-style: italic;
  font-size: 1.3rem;
}

.slider-container {
  grid-row: 2;
  justify-content: space-between;
  display: flex;
  position: relative;
  bottom: 230px;
  width: 750px;
  justify-self: center;
  background: transparent;
  overflow: hidden; /* Ensures buttons are not shown initially */
}

.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
  font-size: 2rem;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.prev-btn:hover,
.next-btn:hover,
.sub-btn,
.login-button:hover ,#share-button:hover{
  cursor: pointer;
}

.carousel-wrapper:hover + .slider-container .prev-btn,
.carousel-wrapper:hover + .slider-container .next-btn,
.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
  opacity: 1; /* Show buttons on hover */
}

.blog-card-main {
  width: 300px;
  height: 400px;
  background-color: #4b3737;
}

.read-more-main {
  grid-row: 2;
  grid-column: 1;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-decoration: none;
}

.title-main {
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5rem;
  font-style: italic;
}

.post-image-main {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.posts-main-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  margin: 0; /* Remove any default margins */
}

#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items to the left */
}

.post-main {
  padding: 1rem;
  margin: 0 2rem;
}

.post-main:hover {
  opacity: 0.9;
  cursor: pointer;
}

.info-box {
  background-color: #4b3737;
  padding: 1rem;
  line-height: 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr 1fr;
}

.tags-main-box {
  grid-column: 2;
  grid-row: 3;
  background: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem 0.1rem 0.3rem;
}

.footer-container {
  background-color: #4b3737;
  padding: 1rem 3rem;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.follow-text {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
}

.follow-info-text {
  padding: 1rem;
  font-weight: bolder;
  text-align: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-box {
  padding: 1rem;
}

.input-box {
  background-color: #f3efe2;
  border: 2px solid #c6bdb6;
  color: #c6bdb6;
  font-size: 1.3rem;
  padding: 0.5rem;
  font-style: italic;
  max-width: 500px;
}

.sub-btn {
  font-size: 1.3rem;
  background-color: #4b3737;
  border: 2px solid #4b3737;
  color: white;
  padding: 0.5rem;
  font-style: italic;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
  color: white;
}

.footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bolder;
}

.social-box {
  display: flex;
  background-color: #f3efe2;
  margin: 2rem auto;
  max-width: 100%;
}

.linkcard {
  display: flex;
  padding: 1rem;
  color: black;
  font-size: 1.5rem;
  width: 120px;
  justify-content: center;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: white;
}

#login-container {
  align-self: center;
  display: flex;
  background-color: #4b3737;
  margin: 3rem;
  max-width: 100%;
  height: 400px;
}

.img-login {
  width: 50%; /* Adjust this value as needed */
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.login-box {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust this value as needed */
  max-width: 100%;
}


.login-text {
  margin-bottom: 1rem;
  color: white;
  font-style: italic;
}

.email-box,
.password-box {
  color: white;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  margin: 0.2rem;
}

#password,
#email {
  background-color: white;
  border: none;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem;
  align-self: center;
  font-size: 1rem;
  background-color: white;
  border: none;
  font-style: italic;
  font-weight: bolder;
  transition: ease 0.2s;
}

.hamburger-menu {
  display: none;
  display: flex;
}

.hamburger-menu i {
  display: flex;
  justify-content: end;
  font-size: 2rem;
  margin: 1rem 1.5rem 1rem 1rem;
}

.hamnburger {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: none;
  transition: ease 3s;
}

/* Hide the navbar by default */
.navbar {
  display: none;
}

/* Show the navbar when it's active */
.navbar.active {
  display: block;
}

/* Style the hamburger menu icon */
.hamburger-menu {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

/* Styling for the navbar */
.navbar {
  display: none;
  position: absolute;
  top: 90px; /* Adjust as needed */
  right: 0;
  width: 50%;
  background-color: #c6bdb6;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

/* Styling for the menu items */
.navbar a {
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  display: block;
  padding: 15px 20px; /* Adjust padding as needed */
  text-decoration: none;
  color: black; /* Text color */
  font-size: 1rem;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navbar ul li {
  list-style-type: none;
}

.navbar a:hover {
  background-color: #f3f3f3; /* Background color on hover */
}

#share-button {
  background: none;
  border: none;
  padding: 5px; /* Adjust padding */
  font-size: 1.5rem;
  
}


/* Your existing CSS */

@media (max-width: 1050px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-wrapper {
    max-width: 500px;
  }
  .post {
    max-width: 500px;
  }
  .blog-card {
    max-width: 500px;
  }
  .slider-container {
    max-width: 550px;
  }
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    grid-row: 1;
    grid-column: 2;
  }
}

@media (max-width: 570px) {
  .blog-card,
  .post,
  .carousel-wrapper {
    max-width: 350px;
    max-height: 300px;
  }
  .slider-container {
    max-width: 400px;
    bottom: 180px;
  }
  .tags-box {
    bottom: 20px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
  }
  .newest-text {
    grid-column: 1/3;
  }
  .input-box {
    max-width: 200px;
    font-size: 1rem;
  }
  .sub-btn ,.footer-menu li a,.tags {
    font-size: 1rem;
  }
  #login-container{
    flex-direction: column;
  }
  .login-box{
    align-self: center;
    padding: 1rem;
  }
  .img-login{
    width: 100%;
  }
  .post-image{
    width: 100%;
    height: 300px;
  }
  #login-container{
    height: 100%;
  }
}
