/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Root variables for colors and font sizes */
:root {
  --tags-color: #3a3a3a; /* Dark gray */
  --main-dark-blue: #445566; /* Dark brown */
  --main-white-grey: #ececec; /* White */
  --main-light-gray: #d3d3d3; /* Light gray */
  --main-black: black; /* Black */
  --main-white: white; /* White */
  --large-font-size: 2.5rem;
  --semi-large-font-size: 2rem;
  --medium-font-size: 1.5rem;
  --semi-medium-font-size: 1.4rem;
  --small-font-size: 1.3rem;
  --standard-font-size: 1rem;
}

/* Body styles */
body {
  background-color: var(--main-white-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header container styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo text styles */
.logo-text {
  padding: 1rem 4rem;
  font-size: var(--large-font-size);
  font-style: italic;
  font-weight: bolder;
  color: var(--main-black);
}

/* Blog name styles */
#blogName {
  margin: 1rem 3rem;
  font-size: var(--medium-font-size);
  font-weight: bolder;
  font-style: italic;
}

/* Line header styles */
.line-header {
  margin: 1rem;
  color: var(--main-light-gray);
}

/* Line styles */
.line {
  margin: 3rem 1rem;
  color: var(--main-light-gray);
}

/* Text container styles */
.text-container {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
}

/* Text styles */
.newest-text,
.all-post-text {
  font-style: italic;
  font-weight: lighter;
  font-size: var(--semi-large-font-size);
  align-self: center;
  justify-self: center;
}

/* Carousel container styles */
.carousel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  padding: 0 2rem;
  justify-content: space-evenly;
}

/* Carousel wrapper styles */
.carousel-wrapper {
  max-width: 700px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-self: center;
}

/* Blog container styles */
.blog-container {
  display: flex;
  height: 400px;
}

/* Slider container styles */
.slider-container {
  /* Layout properties */
  grid-row: 2;
  justify-content: space-between;
  display: flex;
  position: relative;
  bottom: 230px;
  width: 750px;
  justify-self: center;

  /* Styling properties */
  background: transparent;
  overflow: hidden;
}

/* Previous and next button styles */
.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.514);
  color: var(--main-white);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
  font-size: var(--semi-large-font-size);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Gradient overlay styles */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.603)
  );
  pointer-events: none;
}

/* Post styles */
.post {
  width: 700px;
  transition: transform 0.3s ease; /* CSS transition for smooth animation */
}

/* Common post styles */
.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Post detail styles */
.post-detail {
  margin: 2rem 4rem;
  line-height: 2rem;
  background-color: var(--main-light-gray);
  display: flex;
  min-height: 600px;
}

.post-image-big {
  height: 100%;
  object-fit: cover;
  max-width: 700px;
}

/* Post image main styles */
.post-image-main {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Main posts container styles */
.posts-main-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* Posts container styles */
#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Main post styles */
.post-main {
  margin: 2rem;
  width: 300px;
  height: 400px;
  background-color: var(--main-dark-blue);
}

/* Hover effect on main posts */
.post-main:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Make post styles */
.make-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 400px;
}

/* Hide certain buttons */
#show-button,
#edit-show,
#create-show {
  display: none;
}

/* Read more button styles */
.read-more {
  background-color: transparent;
  color: var(--main-white);
  font-size: var(--semi-medium-font-size);
  font-family: sans-serif;
  padding: 10px 20px;
  border: 2px solid;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more:hover,
.login-button:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

/* Blog card styles */
.blog-card {
  position: relative;
  overflow: hidden;
}

/* Box styles */
.box {
  justify-self: center;
  margin: 0 1rem;
  padding: 2rem;
  display: grid;
  background-color: var(--main-dark-blue);
  max-width: 550px;
  max-height: 400px;
}

/* Circle box styles */
.circle-box {
  display: flex;
}

/* Image box styles */
.img-box {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  align-self: center;
  object-fit: cover;
  margin-right: 1rem;
}

.img-box2 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* Author box styles */
.author-box {
  display: flex;
  grid-row: 4;
  align-items: center;
}

.author-box .detail-text5 {
  font-size: var(--standard-font-size);
  align-self: center;
  padding-left: 1rem;
}

/* Text box styles */
.text-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: transparent;
}

/* Info box styles */
.info-box {
  background-color: var(--main-dark-blue);
  padding: 1rem;
  line-height: 2rem;
  color: var(--main-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr 1fr;
}

/* Main tags box styles */
.tags-main-box {
  display: flex;
  align-self: flex-start;
  grid-column: 2;
  grid-row: 3;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 2rem;
  padding: 0 0.6rem 0 0.3rem;
  color: var(--main-white);
  background-color: var(--tags-color);
  margin-right: 1rem;
}

/* Additional tags box styles */
.tags-box {
  position: absolute;
  bottom: 20px;
  right: 25px;
  display: flex;
  font-size: var(--semi-large-font-size);
  font-weight: bold;
  font-family: sans-serif;
  min-width: 60px;
  border-radius: 1rem;
  color: var(--main-white);
  background-color: var(--tags-color);
  font-size: var(--semi-medium-font-size);
  font-weight: lighter;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  justify-content: center;
}

/* Title text styles */
.title-text {
  position: absolute;
  bottom: 80px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: transparent;
  font-size: var(--semi-large-font-size);
  color: var(--main-white);
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}

/* Author text styles */
.author-text {
  display: flex;
  justify-self: start;
  font-size: var(--medium-font-size);
  align-self: center
  ;
  color: var(--main-white);
  font-style: italic;
}

/* Info text styles */
.info-text {
  grid-column: 1/3;
  line-height: 2rem;
  color: var(--main-white);
  font-style: italic;
  font-size: 1.2rem;
}

/* Footer logo text styles */
.logo-text-footer {
  padding: 1rem;
  font-size: var(--large-font-size);
  color: var(--main-white);
  font-style: italic;
  font-weight: bolder;
}

/* Read more main styles */
.read-more-main:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Hover styles */
.prev-btn:hover,
.next-btn:hover,
.sub-btn,
.login-button:hover,
.share-button:hover,
.login-footer:hover,
.logo-text:hover,
#show-button,
#create-post-btn {
  cursor: pointer;
}

/* Show previous and next buttons on hover */
.carousel-wrapper:hover + .slider-container .prev-btn,
.carousel-wrapper:hover + .slider-container .next-btn,
.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
  opacity: 1;
}

/* Read more main styles */
.read-more-main {
  grid-row: 2;
  grid-column: 1;
  font-size: var(--small-font-size);
  margin-top: 1rem;
  text-decoration: none;
}

/* Title main styles */
.title-main {
  grid-row: 1;
  grid-column: 1/3;
  font-size: var(--semi-medium-font-size);
  font-style: italic;
}

/* Follow text styles */
.follow-text {
  font-size: var(--medium-font-size);
  font-weight: bolder;
  padding: 1rem;
  font-style: italic;
}

/* Follow info text styles */
.follow-info-text {
  padding: 1rem;
  font-weight: bolder;
  text-align: center;
}

/* Subscribe container styles */
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Subscribe box styles */
.subscribe-box {
  padding: 1rem;
}

/* Input box styles */
.input-box {
  border: 2px solid var(--main-light-gray);
  color: var(--main-dark-beige);
  font-size: var(--standard-font-size);
  padding: 0.5rem;
  font-style: italic;
  font-weight: bolder;
}

/* Subscribe button styles */
.sub-btn {
  font-size: var(--standard-font-size);
  background-color: var(--main-dark-blue);
  border: 2px solid var(--main-dark-blue);
  color: var(--main-white);
  padding: 0.5rem;
  font-style: italic;
  font-weight: bolder;
}

/* Find me box styles */
.find-me-box {
  grid-row: 1;
  grid-column: 3;
  max-width: 250px;
  justify-self: center;
  color: var(--main-white);
  line-height: 2rem;
  font-size: var(--standard-font-size);
  margin: 1rem;
  padding: 1rem;
}

/* Touch box styles */
.touch-box {
  grid-row: 1;
  grid-column: 2;
  max-width: 250px;
  justify-self: center;
  color: var(--main-white);
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  font-size: var(--standard-font-size);
}

/* Footer container styles */
.footer-container {
  display: grid;
  background-color: var(--main-dark-blue);
  padding: 1rem 3rem;
  min-height: 100%;
  margin-top: auto;
}

/* Show button styles */
#show-button {
  width: 200px;
  height: 40px;
  background-color: var(--main-dark-blue);
  border: none;
  font-size: var(--standard-font-size);
  color: var(--main-white);
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Button container styles */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 400px;
  padding: 1rem;
}

/* Create text styles */
.create-text {
  text-align: center;
  padding: 1rem 0;
}

/* Title box, body box, tags box, media box, and alt box styles */
.title-box input,
.body-box textarea,
.tags-box-create input,
.media-box input,
.alt-box input {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
}

/* Create post button, edit post button, delete post button, and save edit button styles */
#create-post-btn,
#edit-post-btn,
#delete-post-btn,
#save-edit-btn {
  background-color: var(--main-dark-blue);
  color: var(--main-white);
  font-size: var
  (--standard-font-size);
  border: none;
  margin: 1rem 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

/* Delete post button styles */
#delete-post-btn {
  background-color: rgb(212, 0, 0);
}

/* Save edit button styles */
#save-edit-btn {
  background-color: rgb(5, 112, 5);
}

/* Post container styles */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Login footer styles */
.login-footer {
  color: var(--main-white);
  text-decoration: none;
  height: fit-content;
  grid-column: 4;
  grid-row: 2;
  justify-self: end;
  font-size: 0.8rem;
}

/* Footer info styles */
.footer-info {
  margin-top: 1rem;
  font-size: 0.8rem;
  max-width: 250px;
}

/* Top main text styles */
.top-main-text {
  font-size: var(--small-font-size);
  font-style: italic;
  font-weight: bolder;
}

/* Social box styles */
.social-box {
  color: var(--main-white);
  padding: 1rem;
  grid-column: 4;
  grid-row: 1;
  justify-self: center;
  font-size: var(--standard-font-size);
  margin: 1rem;
}

/* Link card styles */
.linkcard {
  padding: 0.7rem;
  color: var(--main-white);
  text-decoration: none;
  border: solid 2px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 0.7rem;
}

/* Link box styles */
.link-box {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--main-white);
}

/* Copyright text styles */
.copyright {
  font-size: 0.7rem;
  color: var(--main-white);
  grid-row: 2;
  height: fit-content;
}

/* Login container styles */
#login-container {
  align-self: center;
  display: flex;
  background-color: var(--main-dark-blue);
  margin: 3rem;
  max-width: 100%;
  height: 400px;
}

/* Login image styles */
.img-login {
  width: 50%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

/* Login box styles */
.login-box {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 100%;
}

/* Login text styles */
.login-text {
  margin-bottom: 1rem;
  color: var(--main-white);
  font-style: italic;
}

/* Email and password box styles */
.email-box,
.password-box {
  color: var(--main-white);
  font-size: var(--standard-font-size);
  font-style: italic;
  font-weight: bolder;
  margin: 0.2rem;
}

/* Email and password input styles */
#password,
#email {
  background-color: var(--main-white);
  border: none;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

/* Login form styles */
#login-form {
  display: flex;
  flex-direction: column;
}

/* Login button styles */
.login-button {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem;
  align-self: center;
  font-size: var(--standard-font-size);
  background-color: var(--main-white);
  border: none;
  font-style: italic;
  font-weight: bolder;
  transition: ease 0.2s;
}

/* Share button styles */
.share-button {
  grid-column: 2;
  grid-row: 4;
  background: none;
  border: none;
  font-size: var(--small-font-size);
  justify-self: end;
}

/* Detail info text styles */
.detail-info-text {
  display: grid;
  line-height: 2.5rem;
  padding: 1rem 2rem;
  grid-template-columns: min-content;
  grid-template-rows: max-content;
}

/* Detail text 3 styles */
.detail-text3 {
  font-size: var(--semi-large-font-size);
  font-style: italic;
  font-weight: bolder;
  align-self: end;
}

/* Detail text 4 styles */
.detail-text4 {
  grid-row: 3;
  line-height: 2.5rem;
  grid-column: 1/3;
  max-width: 500px;
}

/* Container holder styles */
.container-holder {
  display: flex;
  grid-row: 1;
  grid-column: 1/3;
  padding: 1rem;
  align-items: center;
}

/* Container holder detail text 2 styles */
.container-holder .detail-text2 {
  margin-left: 1rem;
}

@media (max-width: 1200px) {
  .post-detail {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

/* Responsive styles */
@media (max-width: 1050px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-wrapper,
  .post,
  .blog-car {
    max-width: 500px;
  }
  .slider-container {
    max-width: 550px;
  }
  .find-me-box {
    grid-column: 1;
    grid-row: 2;
  }
  .social-box {
    grid-column: 2;
    grid-row: 3;
  }
  .touch-box {
    grid-row: 2;
  }
  .copyright {
    grid-row: 3;
    grid-column: 1;
  }
  .login-footer {
    grid-column: 2;
    grid-row: 4;
  }
  .logo-text {
    grid-row: 1;
    grid-column: 1;
  }
  .copyright {
    grid-row: 4;
  }
  .info-text {
    font-size: var(--standard-font-size);
  }
}

@media (max-width: 570px) {
  .blog-card,
  .post,
  .carousel-wrapper {
    max-width: 350px;
    max-height: 300px;
  }
  .slider-container {
    max-width: 400px;
    bottom: 180px;
  }
  .tags-box {
    bottom: 20px;
    right: 10px;
  }
  .newest-text {
    grid-column: 1/3;
  }
  .input-box {
    max-width: 200px;
    font-size: var(--standard-font-size);
  }
  .sub-btn,
  .footer-menu li a,
  .tags {
    font-size: var(--standard-font-size);
  }
  #login-container {
    flex-direction: column;
  }
  .login-box {
    align-self: center;
    padding: 1rem;
  }
  .img-login {
    width: 100%;
  }
  .post-image {
    width: 100%;
    height: 300px;
  }
  #login-container {
    height: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }
  .find-me-box {
    grid-row: 2;
    grid-column: 1;
  }
  .touch-box {
    grid-row: 3;
    grid-column: 1;
  }
  .logo-text-footer {
    grid-row: 1;
    grid-column: 1;
  }
  .social-box {
    grid-row: 4;
    grid-column: 1;
  }
  .login-footer {
    grid-row: 5;
    grid-column: 1;
  }
  .copyright {
    grid-row: 6;
    grid-column: 1;
  }
  #blogName {
    margin: 1rem;
    font-size: var(--small-font-size);
  }
  .make-post {
    width: 250px;
    transition: ease 0.3s;
  }
  .post-detail {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 1rem;
    align-items: center;
  }
  .post-image-big {
    height: auto;
    max-width: 350px;
  }
  .detail-text4 {
    grid-column: 1;
  }
  .container-holder {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1;
  }
  .share-button {
    grid-row: 5;
    grid-column: 1;
  }
  .author-box {
    grid-row: 4;
    grid-column: 1;
  }
  .button-container,
  .detail-text4 {
    width: 300px;
  }
  .detail-text1 {
    margin-left: 1rem;
  }
  .logo-text {
    padding: 1rem;
  }
  .container-holder {
    padding: 1rem 0;
    align-items: start;
  }
  .detail-info-text {
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
  }
}
